{% extends 'base.html' %}
{% block title %}User Details{% endblock %}
{% block content %}

<h1>{{user.first_name}} {{user.last_name}} Details</h1>

{% if user.image_url %}
<img src="{{ user.image_url }}" alt="dogecoin" style="height:200px; width:300px">
{% endif %}

<form>
    <!-- <button><a href="/users/{{user.id}}/edit">Edit</a></button> -->
    <button formaction="/users/{{user.id}}/edit">Edit</button>
    <button formaction="/users/{{user.id}}/delete" formmethod="POST">Delete</button>
</form>

{% endblock %}